@font-face {
    font-family: DNFBitBitv2;
    src: url('../font/DNFBitBitv2.ttf') format('truetype');
}

@font-face {
    font-family: EliceDigitalBaeum_Regular;
    src: url('../font/EliceDigitalBaeum_Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FFE7BF;
    font-family: 'prtendard';
}

.header {
    height: 13rem;
    background: rgba(0, 0, 0, 0.83);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 280px;
    height: auto;
}

.menu-wrapper {
    position: relative;
    background: #333;
}

.main-nav {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    position: relative;
    z-index: 10;
}

.main-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    list-style: none;
}

.nav-item {
    font-weight: 700;
    font-size: 1.8rem;
    cursor: pointer;
    color: whitesmoke;
    transition: color 0.3s;
}

.nav-item:hover {
    color: #ff8800;
}

.sub-nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(10px);
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: all 0.4s ease;
    z-index: 5;
}

.menu-wrapper:hover .sub-nav {
    max-height: 500px;
    opacity: 1;
    padding: 2rem 0;
}

.sub-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: start;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    transition: opacity 0.3s ease;
}

.sub-menu-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.sub-menu-group a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
    white-space: nowrap;
}

.sub-menu-group a:hover {
    color: #ff8800;
}

.sub-menu-placeholder {
    opacity: 0;
    pointer-events: none;
    height: 0;
}

.notice {
    background: linear-gradient(to bottom, #f0cd92, #da8868de);
    min-height: 100vh;
    padding: 100px 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.en-title {
    font-family: "orbitron";
    font-size: 4rem;
    font-weight: 900;
    color: #4b4b4b;
    margin-bottom: 4rem;
    margin-right: 6rem;
    letter-spacing: 1px;
    cursor: pointer;
}

.en-title:hover {
    transform: translateY(-6px) scale(1.03);
    filter: drop-shadow(0 0 12px rgba(255, 204, 100, 0.8));
}

.kr-title {
    font-family: 'orbitron';
    font-size: 3rem;
    font-weight: 800;
    color: #2c2c2c;
}

.subtitle {
    font-family: 'EliceDigitalBaeum_Regular', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #333;
    margin-bottom: 4rem;
}

.table {
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 40px;
}

.table thead {
    background: rgba(255, 255, 255, 0.6);
}

.table th,
.table td {
    padding: 1.5rem;
    color: rgb(84, 83, 109);
    font-family: 'Pretendard';
    font-size: 19px;
}

.table th {
    text-align: center;
    font-weight: 800;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.table th:nth-child(1),
.table td:nth-child(1) {
    text-align: center;
    width: 10%;
}

.table td:nth-child(2) {
    text-align: left;
    padding-left: 2rem;
}

.table th:nth-child(3),
.table td:nth-child(3) {
    text-align: center;
    width: 15%;
}

.table tbody tr {
    transition: backgroud 0.3s;
}

.table tbody tr:hover {
    background: rgba(255, 255, 255, 0.5);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.page-btn {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.2s;
}

.page-btn:hover {
    background: #ff8800;
    color: whitesmoke;
    border-color: #ff8800;
}

.search-box {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
}

.search-select,
.search-input {
    padding: 0.5rem 1rem;
    border: 1px solid #aaa;
    border-radius: 50px;
    font-size: 15px;
    margin-top: 1.5rem;
}

.search-btn {
    background: #ff6600;
    color: whitesmoke;
    padding: 0.5rem 1.2rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.3s;
    margin-top: 1.5rem;
}

.search-btn:hover {
    background: #ff6600;
}

#floatingWidget {
    position: absolute;
    right: 10px;
    top: 300px;
    width: 70px;
    background: white;
    border-radius: 50px;
    padding: 16px 0;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    z-index: 1000;
    transition: transform 0.25s ease-out;
}

.chat-icon {
    width: 48px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.chat-icon:hover {
    transform: scale(1.1);
}


.footer {
    background: #281d33de;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.footer-logo {
    margin-top: 2rem;
    width: 200px;
    height: auto;
}

.social {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

.social a {
    transition: opacity 0.3s;
}

.social a:hover {
    opacity: 0.8;
}

.social img {
    width: 50px;
    height: auto;
}

.footer p {
    font-family: 'EliceDigitalBaeum_Regular', sans-serif;
    color: whitesmoke;
    margin-bottom: 4rem;
}






